<div class="vh-100 d-flex align-items-center heading"
     style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({{ heading.img }});
            background-color: {{ heading.back }};">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="heading-title">{{ heading.title }}</h1>
                {% if heading.desc %}
                <p class="heading-text">{{ heading.desc }}</p>
                {% endif %}
                <div class="d-grid gap-2 col-3 mx-auto pt-5">
                    <button class="btn btn-primary bt-lg heading-button" type="button">{{ heading.btn_text }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
