<div class="d-flex align-items-center textcl"
     style="
     {% if text.img %}
     background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({{ text.img }});
     {% endif %}
     {% if text.back %}
     background-color: {{ text.back }};
     {% endif %}">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col">
                {% if text.text %}
                <p class="textcl-text">{{ text.text }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
