{% extends 'index.html' %}

{% block heading %}
<div class="vh-100 d-flex align-items-center heading"
     style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://static.tildacdn.com/tild3934-6630-4538-b065-376233386438/k46jj04884l261015_2.jpg)">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="heading-title">Заголовок вашего сайта</h1>
                <p class="heading-text">Добавьте интересные подробности о вашей компании.
                    Двойной клик по тексту или вкладка «Контент» для редактирования текста.</p>
                <div class="d-grid gap-2 col-3 mx-auto pt-5">
                    <button class="btn btn-primary bt-lg heading-button" type="button">Целевое действие</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}